body{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-variant: small-caps;
  height: 100vh;
}

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  /* border: 1px solid red; */
  /* background-color: aqua; */
  margin: 0 auto;
}

.game-window {
  /* border: 5px solid rgb(246, 238, 10); */
  width: 100vw;
  height: 100vh;
  margin: 0 5% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(32, 31, 29);
  gap: 20px;
}
.sidebar{
  width:100vw;
  height: 100vh;
  /* border: 1px solid green; */
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-variant: normal;
  background-color: gray;
  overflow: scroll;
  font-size: 14px;

  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.sidebar-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2px;
}
.sidebar-panel h2,h4 {
  text-decoration: underline;
  margin: 10px 0;
}
.sidebar-panel ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* background-color: blue; */
  /* margin: 5px; */
  gap: 5px;
  overflow: scroll;
  scrollbar-color: red;
}

.sidebar-panel ul li {
  background-color: yellow;
  padding: 5px 15px;
  border-left: 45px solid rgb(106, 106, 104);
}
.working-on {
  border-left: 45px solid rgb(244, 146, 34) !important;
  
} 
.solved {
  border-left: 45px solid rgb(124, 240, 124) !important;

}
.sidebar-panel .comment{
  background-color: rgb(237, 181, 239);
  margin: 10px 0px;
  padding: 5px 15px;

}


.header {
  display: flex;
  width: 400px;
  height: 125px;
  align-items: center;
  justify-content: space-between;
  color: white;
  gap: 12px;
  
}
.col {
  width: 125px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
  .logo {
    height: 100%;
    background-color: rgb(255, 208, 0);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;


  }
  .logo span {
    font-size: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }

.col2 {
  display: flex;
  gap: 12px;
  align-items: center;
}

.scoreboard {
  width: 100%;
  height: 50%;
  background-color: rgb(59, 60, 61);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}
.scoretext {
  font-size: 20px;
  border-radius: 3px;
}
.scoreboard #score {
  font-size: 20px;
}
.btn {
  background-color: rgb(237, 104, 60);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-variant: small-caps;
  border: none;
  height: 50%;
}
.btn:hover{
  cursor:grab;
}
.btn-label {
  color: white;
  border-radius: 3px;
  border: none;
}


.btn-new {
  width: 100%;
  /* height: 100%; */
  font-size: 33px;
  text-align: center;
  font-style: strong;
}

.col3 {
  display: flex;
  gap: 12px;
  align-items: center;
}

.btn-undo {
  width: 100%;

  font-size: 33px;
  text-align: center;
  font-style: strong;
}

.info {
  color: rgb(139, 139, 139);
  font-variant: normal;
}
.board {
  width: 400px;
  height: 400px;
  box-sizing: content-box;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(143, 137, 137, 0.8);

  border-radius: 8px;
}
.stack {
  width: 400px;
  height: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
}
.cell {
  display: none;
  width: 90px;
  height: 85px;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(143, 137, 137, 1);
  border-radius: 5px;
  z-index: 100;
}

.tile {

  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  height: 85px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.tile0 {
  display: none;

}

.tile2 {
  background-color: rgb(242, 240, 235);
}

.tile4 {
  background-color: rgb(223, 216, 204);
}
.tile8 {
  background-color: rgb(246, 176, 110);
  color: white;
}
.tile16 {
  background-color: rgb(230, 150, 75);
  color: white;
}
.tile32{
  background-color: rgb(207, 100, 68);
  color: white;
}
.tile64 {
  background-color: rgb(213, 93, 78);
  color: white;
}
.tile128 {
  background-color: rgb(255, 208, 0);

  color: white;
}

.tile256{
  background-color: rgb(255, 208, 0);
  color: white;

}
.tile512{
  background-color: rgb(255, 208, 0);
  color: white;

}
.tile1024{
  background-color: rgb(255, 208, 0);
  color: white;

}
.tile2048{
  background-color: rgb(255, 208, 0);
  color: white;

}
.tile4096{
  background-color: rgb(14, 14, 13);
  color: white;

}

.movesdisplay {
  color: rgb(193, 189, 189);
}
.footer {
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
  color: white;

}

.timerdisplay {
  color: rgb(193, 189, 189);
}

.online{
  background-color: rgb(81, 235, 81);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  left: calc(50% - 60px);

}
.offline{
  background-color: rgb(219, 135, 10);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  left: calc(50% - 60px);
}
